@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Jua";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/jua/v16/co3KmW9ljjB3WlbkQh.woff2")
    format("woff2");
}

@font-face {
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/pressstart2p/v11/e3t4euO8T-267oIAQAu6jDQyK4.woff2")
    format("woff2");
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-pretendard: "Pretendard", sans-serif;
  --font-jua: "Jua", sans-serif;
  --font-Press: "Press Start 2P", sans-serif;

  --color-point: #ff69b4;
  --color-main: #b388ff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard);
}

button {
  cursor: pointer;
}

/* 타이틀에만 Jua 폰트 적용 */
h1,
h2,
h3,
.title {
  font-family: var(--font-jua);
}

.weekly-planner {
  font-family: var(--font-Press);
}

.bg-main {
  background: var(--color-main);
}

.bg-point {
  background: var(--color-point);
}

.text-point {
  color: var(--color-point);
}

.border-point {
  border-color: var(--color-point);
}

.inner {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-4px);
  }
  50% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(4px);
  }
}

@keyframes spin {
  100% {
    transform: rotate(180deg);
  }
}

.animate-fade-down {
  animation: fade-down 1.4s ease-in-out infinite;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.spinner {
  animation: spin 1s ease-in-out infinite;
}

.sidebar {
  box-shadow: 2px 0px 3px 0px #e1e1e1;
}
